@model TaskItem

<h1>Task</h1>
<hr />

<dl class="dl-horizontal">
    <dt>
        Title
    </dt>
    <dd>
        @Model.Title
    </dd>
    <dt>
        Description
    </dt>
    <dd>
        @Model.Description
    </dd>
    @if (Model.AssignedUser != null)
    {
        <dt>
            Assigned User
        </dt>
        <dd>
            @Model.AssignedUser.FirstName @Model.AssignedUser.LastName
        </dd>
    }
</dl>
<a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<div>
    @if(Model.Replies.Count() > 0)
    {
        foreach(var reply in Model.Replies)
        {
            <div class="panel panel-default">
                <div class="panel-body">@reply.Content</div>
            </div>
        }
    } else
    {
        <div class="">No replies...</div>
    }
</div>